.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-filter: drop-shadow(3px 9px 10px rgba(0,0,0,.5));
    filter: drop-shadow(3px 9px 10px rgba(0,0,0,.5));
}

.logo img {
    height: 2rem;
    -webkit-filter: drop-shadow(3px 9px 20px rgba(0,0,0,.2));
    filter: drop-shadow(3px 9px 20px rgba(0,0,0,.2));
}

@media only screen and (min-width: 768px) {
    .logo img {
        margin-left: auto;
    }
}