.loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    z-index: 30;
    background: var(--text-2);
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 30;
    inset: 0;
    width: 100%;
    height: 100%;
    background: var(--opaq);
    backdrop-filter: blur(8px);
}

.loading .logo {
    width: 5.7rem;
    height: 6rem;
    border-radius: 4rem 3rem 4rem 3rem;
    z-index: 40;
    background-color: var(--surface-1);
    /* background-blend-mode: overlay; */
    box-shadow: 10px 10px 25px var(--opaq);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: logo_animation 1.5s linear 2s infinite alternate;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 50;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -32px;
    top: 50%;
    width: 64px;
    height: 64px;
    border: 8px solid var(--brand);
    border-radius: 50%;
    animation: lds-ring 1.2s ease-in-out infinite;
    border-color: var(--brand) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

.lds-ring .logo {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -11px;
    margin-top: 4px;
    transform: scale(.65);
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes logo_animation {
    0% {
        transform: scale(.8);
        opacity: 1;
        border-radius: 4rem 3rem 4rem 3rem;
    }

    25% {
        /* transform: scale(.3); */
        opacity: 1;
        border-radius: 3rem 4rem 3rem 4rem;
    }

    50% {
        /* transform: scale(1); */
        opacity: 1;
        border-radius: 3rem 3rem 3rem 3rem;
    }

    75% {
        /* transform: scale(); */
        opacity: 1;
        border-radius: 4rem 3rem 4rem 3rem;
    }

    100% {
        transform: scale(1);
        opacity: 0;
        border-radius: 3rem 4rem 3rem 4rem;
    }
}