.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    background-image: var(--gradient-1)
}

.section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    scroll-behavior: smooth;
    width: calc(100% - 4rem);
    min-height: calc(100% - 5rem);
    background-size: cover;
    scroll-snap-align: start;
    padding: 5rem 0 0;
}

.home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5rem 0 0;
}

.home .header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
}

.home .header .texts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    padding: 1rem 2rem 0;
}

.home .header .texts header {
    text-align: center;
    color: var(--text-1);
    font-size: 2.5rem;
    font-weight: 900;
    font-family: "okta_neue_black";
    line-height: 2.5rem;
}

.home .header .texts p {
    text-align: center;
    color: var(--text-2);
    font-size: .8rem;
}

.home .header .texts a {
    display: flex;
    align-items: center;
    gap: .3rem;
    padding: .3rem .4rem .3rem .9rem;
    border-radius: 2rem;
    font-size: .8rem;
    font-weight: 100;
    background-image: linear-gradient(to right, var(--text-2), var(--text-1));
}

.home .header .texts a p {
    color: var(--surface-1);
}

.home .header .texts a span {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: var(--surface-4);
}

.home .header .texts a:hover {
    text-decoration: none;
}

.home .header img {
    width: 100%;
    height: 100%;
}

.section h1 {
    color: var(--text-1);
    font-family: "okta_neue_black";
    position: relative;
}

.section h1::after {
    content: '';
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: -3px;
    width: 2rem;
    height: .3rem;
    border-radius: .5rem;
    background-color: var(--border-line);
}

section.features {
    padding: 5rem 0 0;
    width: calc(100%);
}

section.features main {
    width: 100%;
    height: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    overflow-y: auto;
    backdrop-filter: blur(1px);
    padding-bottom: 2rem;
}

section.features main .feature {
    width: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
    /* border-bottom: 1px solid var(--surface-1); */
}

/* section.features main .feature:nth-child(even) {
    flex-direction: row-reverse;
} */

section.features main .feature img {
    width: 100%;
    height: 100%;
}

section.features main .feature .texts {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* section.features main .feature:nth-child(even) .texts {
    align-items: flex-end;
}

section.features main .feature:nth-child(even) .texts :where(h2, p) {
    text-align: right;
} */

section.features main .feature .texts h2 {
    color: var(--text-1);
    font-family: "okta_neue_medium";
    font-weight: 900;
    font-size: .8rem;
    text-align: center;
}

section.features main .feature .texts p {
    color: var(--text-2);
    font-size: .6rem;
    text-align: center;
}

section.discover {
    gap: 1rem;
}

section.discover .slideshow {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    position: relative;
}

section.discover .slideshow .slide {
    position: absolute;
    inset: 0;
    height: calc(100%);
    display: grid;
    backdrop-filter: blur(2px);
    grid-template-rows: 50% 50%;
    grid-template-columns: 60% 40%;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: var(--border-line);
    overflow: hidden;
}

section.discover .slideshow .slide .cover-img {
    width: 100%;
    height: 100%;
    justify-self: flex-end;
    align-self: flex-end;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    border-radius: 1rem;
}

section.discover .slideshow .slide .cover-img .img {
    height: calc(100% - .4rem);
    border-radius: .8rem;
    background-size: cover;
    border-image: fill 0 linear-gradient(to bottom,
            var(--opaq) 0%,
            var(--opaq) 30%,
            var(--opaq) 40%,
            var(--text-1) 90%,
            var(--text-1) 100%);
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: .4rem;
}

section.discover .slideshow .slide .cover-img h3 {
    font-family: 'okta_neue_black';
    font-size: 1rem;
    color: var(--surface-4);
    text-align: center;
    line-height: 1.5rem;
    /* text-decoration: underline; */
}

section.discover .slideshow .slide .flat-img {
    width: 100%;
    height: 100%;
    grid-row: 2 / -1;
    grid-column: 1 / 2;
    justify-self: flex-start;
    align-self: flex-start;
}

section.discover .slideshow .slide article {
    width: 100%;
    grid-row: 2 / -1;
    grid-column: 2 / -1;
    justify-self: flex-start;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

section.discover .slideshow .slide article p {
    width: 80%;
    height: 100%;
    font-family: 'okta_neue_medium';
    color: var(--text-2);
    font-size: .7rem;
    line-height: .9rem;
    align-self: center;
}

section.discover .slideshow :is(.prev, .next) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.discover .slideshow .prev {
    left: -.9rem;
}

section.discover .slideshow .next {
    right: -.9rem;
}

section.discover .slideshow .next svg {
    transform: rotateY(180deg);
}

section.discover .navigation {
    display: flex;
    gap: .3rem;
}

section.discover .navigation button {
    width: .6rem;
    height: .6rem;
    border-radius: .5rem;
    border: 1px solid var(--text-2);
    transition: width .5s ease;
    background: transparent;
}

section.discover .navigation button.active {
    width: 1.2rem;
    border: 1px solid var(--brand);
    background-color: var(--brand);
}

section.stories {
    gap: 2rem;
    overflow: hidden;
}

section.stories .user-stories {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 2rem;
}

section.stories .avatars {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-content: center;
}

section.stories .avatars img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    opacity: 0.7 !important;
    filter: grayscale(100%);
    justify-self: center;
}

section.stories .avatars img.active {
    width: 2.5rem;
    height: 2.5rem;
    opacity: 1 !important;
    filter: none;
    border: 2px solid var(--text-1);
}

section.stories article {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    justify-content: center;
    padding: 1rem 1rem;
    border-radius: 1rem;
    background-color: var(--border-line);
    position: relative;
}

section.stories article::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent var(--border-line) transparent;
}

section.stories article .names {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
}

section.stories article .names p:nth-child(1) {
    color: var(--text-1);
    font-size: .8rem;
    font-family: 'okta_neue_black';
}

section.stories article .names p:nth-child(3) {
    color: var(--text-2);
    font-size: .7rem;
}

section.stories article .testimony {
    font-size: .8rem;
    font-style: italic;
    text-align: center;
}