.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    background-image: var(--gradient-1)
}

.section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    scroll-behavior: smooth;
    width: calc(100% - 4rem);
    min-height: calc(100% - 6rem);
    background-size: cover;
    scroll-snap-align: start;
    padding: 5rem 2rem 1rem;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.home .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.home .header .texts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}

.home .header .texts header {
    text-align: center;
    color: var(--text-1);
    font-size: 2rem;
    font-weight: 900;
    font-family: "okta_neue_black";
    line-height: 2.3rem;
}

.home .header .texts p {
    color: var(--text-2);
    font-size: .8rem;
}

.home .header .texts a {
    color: var(--text-1);
    padding: .4rem 1rem;
    border-radius: 2rem;
    font-weight: 100;
    font-family: "okta_neue_black";
    background-image: linear-gradient(to right, #ffa94d, #fd7e14);
}

.home .header .texts a:hover {
    text-decoration: none;
}

.home .header img {
    width: 70%;
    height: 100%;
}

.section h1 {
    color: var(--text-1);
    font-family: "okta_neue_black";
    position: relative;
}

.section h1::after {
    content: '';
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: -3px;
    width: 2rem;
    height: .4rem;
    border-radius: .5rem;
    background-color: var(--border-line);
}

section.features main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.features main .feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.features main .feature:nth-child(even) {
    flex-direction: row-reverse;
}

section.features main .feature img {
    width: 8rem;
}

section.features main .feature .texts {
    width: 70%;
    display: flex;
    flex-direction: column;
}

section.features main .feature:nth-child(even) .texts {
    align-items: flex-end;
}

section.features main .feature:nth-child(even) .texts :where(h2, p) {
    text-align: right;
}

section.features main .feature .texts h2 {
    color: var(--text-1);
    font-family: "okta_neue_medium";
    font-weight: 900;
    font-size: .8rem;
}

section.features main .feature .texts p {
    color: var(--text-2);
    font-size: .6rem;
}

section.discover .slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    position: relative;
}

section.discover .slideshow .slide {
    display: none;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
}

section.discover .slideshow .slide.active {
    width: 80%;
    height: 100%;
    display: grid;
}


section.discover .slideshow .slide .main-img {
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}

section.discover .slideshow .slide .flat-img {
    width: 100%;
    grid-row: 2 / -1;
    grid-column: 1 / 2;
}

section.discover .slideshow .slide article {
    width: 100%;
    grid-row: 2 / -1;
    grid-column: 2 / -1;
}

section.discover .slideshow .slide article h3 {
    font-family: 'okta_neue_medium';
    font-size: 1rem;
    color: var(--text-1);
}

section.discover .slideshow .slide article p {
    color: var(--text-2);
    font-size: .7rem;
}

section.discover .slideshow :is(.prev, .next) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

section.discover .slideshow .prev {
    left: -1rem;
}

section.discover .slideshow .next {
    right: -1rem;
}

section.discover .slideshow .next svg {
    transform: rotateY(180deg);
}