.popup{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;    
    position: fixed;
    bottom: 0;
    transition: bottom 1s ease;
}

.open{
    z-index: 60;
    bottom: 0;
}

.close{
    z-index: 2;
    gap: 4.5rem;
    bottom: -82%;
}

.popup span.smRect {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
        /* left: 50%;
        margin-left: -1.5rem; */
    border-radius: 2rem 2rem 0 0;
    background-color: var(--border-line);
    border: 1px solid var(--border-line);
    cursor: grab;
}

.popup.close span.smRect svg{
    animation: breath-up 2s ease-out infinite forwards;
}

.popup.open span.smRect svg{
    transform: rotateX(180deg);
    animation: breath-down 2s ease-out infinite forwards;
}

/* .close {
    position: fixed;
    bottom: 15px;
    left: 50%;
    margin-left: -1.5rem;
    /* animation: breath 2s ease-out infinite alternate;
} */

.overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 60;
    backdrop-filter: blur(4px);
    background-color: var(--opaq);
}

.popup .popup-box{
    max-width: 19rem;
    height: 93%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: .5rem 1.5rem;
    border: 1px solid var(--border-line);
    border-radius: 2.5rem 2.5rem 0 0;
    background-color: var(--surface-1);
}

main section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .7rem;
    padding-top: 1rem;
}

main section :where(h2, h3) {
    color: var(--text-1);
}

main section .optionBox {
    width: 100%;
    padding: .3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.optionBox label{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: var(--text-2);
}

.checked{
    color: var(--brand);

}

.optionBox input{
    display: none;
}

.mode{
    overflow-y: auto;
    border-top: 1px solid var(--border-line);
}

@keyframes breath-up {
    from{
        transform: translateY(3px);
    }
    to{
        transform: translateY(-4px);
    }
}

@keyframes breath-down {
    from{
        transform: rotateX(180deg) translateY(5px);
    }
    to{
        transform: rotateX(180deg) translateY(-4px);
    }
}