.navbar {
    width: 100%;
    height: 4.5rem;
    background-color: var(--opaq);
    z-index: 50;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--border-line);
}

.navbar .notice-bar {
    position: relative;
    padding: .3rem 1.5rem;
    width: calc(100% - 3rem);
    background-color: var(--text-2);
}

.notice-bar .content {
    color: var(--surface-1);
    width: 100%;
    display: block;
    white-space: nowrap;
    font-size: .6rem;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    transform: translateX(100%);
    animation: scroll 30s linear infinite;
}

.notice-bar span{
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .4rem 0 .5rem;
    position: absolute;
    top: 0px;
    right: 0px;
    border-image: fill 0 linear-gradient(to left,
                var(--text-2) 0%,
                var(--text-2) 50%,
                rgba(255, 255, 255, 0) 100%);
}

.notice-bar span svg{
    transform: scale(0.8);
}

.navbar nav {
    width: calc(100% - 3rem);
    height: 100%;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar .auth {
    justify-content: center;
    align-items: center;
    border-bottom: none;
}

.auth .logo {
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 0;
    gap: .2rem;
}

.logoImage {
    transform: scale(0.7);
}

.top button {
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 50%;
    transform: scale(.8);
}

.top button:hover {
    background-color: var(--border-line);

}

.mobile {
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 0;
}

.tablet {
    display: none;
}

.logoItem {
    width: auto;
    display: flex;
    gap: .2rem;
    align-items: center;
}

.logoItem .logoText {
    display: none;
}

@keyframes scroll {
    to {
        transform: translateX(-100%);
    }

}

@media only screen and (min-width: 768px) {
    .navbar nav{
        padding: 0;
        width: 80%;
    }

    /*.navbar .top {
        width: calc(100% - 2rem);
            padding: .7rem 1rem .7rem;
        min-width: fit-content;
        min-height: fit-content;
        height: auto;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    } */

    .navbar .second {
        gap: 1.8rem;
        padding-left: 1.6rem;
    }

    .navbar .auth {
        justify-content: center;
        align-items: center;
        border-bottom: none;
    }

    .details-box span {
        display: flex;
    }

    /* .profile {
        top: 0;
        left: 130%;
        border: 1px solid var(--text-2);
    }

    .profile::after {
        content: "";
        position: absolute;
        bottom: 78%;
        right: 100%;
        border-width: 7px;
        border-style: solid;
        border-color: transparent var(--text-1) transparent transparent;
    } */

    .mobile {
        display: none;
    }

    .tablet {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .tablet .logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.5rem;
        padding-left: 1.7rem;
    }

    .logo .image {
        transform: scale(.7);
    }

    .logo .text {
        color: var(--text-1);
        font-family: "Bulgaria", system-ui, Avenir, Helvetica, Arial, sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
    }
}

@media only screen and (min-width: 992px) {
    .top {
        min-width: 10rem;
    }

    .top .logoItem .logoText {
        display: flex;
        font-size: .5rem;
        font-weight: 900;
        color: var(--brand);
        font-family: "Futura-Bold", system-ui, Avenir, Helvetica, Arial, sans-serif;
        letter-spacing: 1px;
    }
}