.box {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-one);
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

.img img {
    width: 25rem;
    height: fit-content;
    filter: grayscale(0.7);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.content span {
    font-size: 3.5rem;
    font-weight: 900;
    font-family: "Bulgaria", system-ui, Avenir, Helvetica, Arial, sans-serif;
    width: fit-content;
    text-shadow: 2px -5px var(--bg-two);
}

.msg h1 {
    color: var(--text-1);
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Futura-Regular", system-ui, Avenir, Helvetica, Arial, sans-serif;
    width: fit-content;
    height: .9rem;
}

.msg p {
    width: 100%;
    color: var(--text-2);
    font-size: .7rem;
    font-family: "Futura-Regular", system-ui, Avenir, Helvetica, Arial, sans-serif;
    width: fit-content;
    height: .9rem;
    font-style: italic;
}